@page "/"
@using JustARandomApp.Code
@using JustARandomApp.Components
@inject RanCatApiHandler RCAH
@inject RanDogApiHandler RDAH
@inject RanAnimeGirlApiHandler RAGAH
<div class="div-col smooth">
    <div class="div-row smooth">
        <RanPicture Type="Cat" ApiHandler="RCAH"></RanPicture>
        <RanPicture Type="Dog" ApiHandler="RDAH"></RanPicture>
    </div>
    <div class="div-row smooth">
        <RanPicture Type="Waifu" ApiHandler="RAGAH"></RanPicture>
        <RanPicture Type="Neko" ApiHandler="RAGAH"></RanPicture>
    </div>
    <div class="div-row smooth">
        <RanPicture Type="Shinobu" ApiHandler="RAGAH"></RanPicture>
        <RanPicture Type="Megumin" ApiHandler="RAGAH"></RanPicture>
    </div>
    <div class="div-row smooth">
        <RanPicture Type="Bonk" ApiHandler="RAGAH"></RanPicture>
        <RanPicture Type="Smug" ApiHandler="RAGAH"></RanPicture>
    </div>
    <div class="div-row smooth">
        <RanPicture Type="Dance" ApiHandler="RAGAH"></RanPicture>
        <RanPicture Type="Happy" ApiHandler="RAGAH"></RanPicture>
    </div>
</div>